{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block header_title %}O aplikácii{% endblock %}

{% block content %}
<p>Vytvorené pre účely predmetu Teória kódovania na FIIT STU.</p>
<p><strong>Zdrojové kódy: </strong> <a href="https://bitbucket.org/fadawar2/kod-bch-kody">bitbucket.org</a></p>
<p><strong>Dátum vytvorenia: </strong> Vianoce 2015</p>
<p>Našli ste nejakú chybu? Napíšte ju do <a href="https://bitbucket.org/fadawar2/kod-bch-kody/issues">issue tracker</a>.</p>
{% endblock %}
