{% extends 'base.html' %}

{% block title %}Kalkulačka{% endblock %}
{% block header_title %}Kalkulačka pre BCH{% endblock %}

{% block content %}
    <p>Opravuje maximálne 2 chyby. Dĺžka slova môže byť 15 alebo 31 znakov.</p>
    <form method="POST">
        {% csrf_token %}
        {% if errors %}
            <div class="alert alert-danger">
              <strong>Chyba!</strong> {{ errors }}
            </div>
        {% endif %}
      <div class="form-group">
        <label for="id_received_word">Prijaté slovo (w)</label>
        <div class="input-group">
          <input type="text" name="received_word" class="form-control" id="id_received_word"
                 placeholder="napr. 000010001011100" maxlength="31" autofocus>
          <div class="input-group-addon" title="Počet znakov" id="char_count">0</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Dekódovať</button>
    </form>
{% endblock %}

{% block results_block %}
    {% if results %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info">
                  <strong>Počet chýb v slove:</strong>
                    {% if case == 3 %}
                        Viac ako 2
                    {% else %}
                        {{ case }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>Prijaté slovo (w)</strong>
            </div>
            <div class="col-sm-10 monospace">
                {{ received_word }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>Prijaté slovo (w(x))</strong>
            </div>
            <div class="col-sm-10 monospace">
                {% for c in s1 %}
                    x<sup>{{ c }}</sup> {% if not forloop.last %}+ {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>s1</strong>
            </div>
            <div class="col-sm-10 monospace">
                {% for c in s1 %}
                    β<sup>{{ c }}</sup> {% if not forloop.last %}+ {% endif %}
                {% endfor %}
                = β<sup>{{ s1_value }}</sup>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>s3</strong>
            </div>
            <div class="col-sm-10 monospace">
                {% for c in s3 %}
                    β<sup>{{ c }}</sup> {% if not forloop.last %}+ {% endif %}
                {% endfor %}
                = β<sup>{{ s3_value }}</sup>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>Chybové slovo (e)</strong>
            </div>
            <div class="col-sm-10 monospace">
                {% for e in error_word %}
                    β<sup>{{ e }}</sup> {% if not forloop.last %}+ {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>Odoslané slovo (v)</strong>
            </div>
            <div class="col-sm-10 monospace">
                {{ correct_word|join:" " }}
            </div>
        </div>
    {% endif %}
{% endblock %}
